* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background: #e6e9f0;
    color: #222;
}

header {
    background: linear-gradient(to right, #a6abbf, #e6ebff);
    padding: 10px 10px;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header h1 {
    margin: 0;
    font-size: 45px;
    font-weight: 900;
    color: #1f1f1f;
}

header p {
    margin-top: 0px;
    font-size: 20px;
    color: #444;
}

.container {
    width: 85%;
    max-width: 1000px;
    margin: 30px auto;
    background: #ffffff;
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.top {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 30px;
}

.logo img {
    width: 120px;
    border-radius: 10px;
    border: 2px solid #aaa;
    background: #f5f5f5;
    padding: 5px;
}

.info p {
    margin: 6px 0;
    font-size: 15px;
}

h2 {
    margin-top: 35px;
    margin-bottom: 10px;
    color: #333;
    border-left: 5px solid #888;
    padding-left: 10px;
    font-weight: 600;
}

.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 18px;
    margin-top: 15px;
}

.box {
    background: #f0f2f7;
    padding: 18px;
    text-align: center;
    border-radius: 10px;
    font-weight: 600;
    border: 1px solid #ccc;
    transition: 0.2s;
}

.box:hover {
    background: #e0e4f0;
    transform: translateY(-4px);
}

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 12px;
}

.categories li {
    list-style: none;
    background: #e4e7ee;
    padding: 8px 14px;
    border-radius: 20px;
    font-size: 14px;
    border: 1px solid #bbb;
}

p {
    margin: 0%;
    padding: 0%;
    font-weight: 700;
    font-size: 15px;
}